@page
@model CarRenting.Client.Pages.Customer.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create new order</h1>

<h4>Your Cart</h4>

<p style="color: red"> @Model.Error</p>
<hr/>

<h4>Your renting</h4>
<table class="table">
    <thead>
    <tr>
        <th>
                @Html.DisplayNameFor(model => model.RentingTemp[0].PickupDate)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.RentingTemp[0].ReturnDate)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.RentingTemp[0].RentPrice)
        </th>
            <th>
                @Html.DisplayNameFor(model => model.RentingTemp[0].Car)
            </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.RentingTemp)
    {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.PickupDate)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.RentPrice)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Car.CarName)
            </td>
            <td>
                <form asp-page="./Create" method="post" asp-page-handler="Remove" asp-route-id="@Model.RentingTemp.IndexOf(item)">
                    <button type="submit">Remove</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

<form asp-page="./Create" method="post" asp-page-handler="Submit">



    <button type="submit">Submit order</button>
</form>

<h4>Find car available</h4>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-page-handler="Search">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Start Date</label>
                <input asp-for="@Model.StartDay" min="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control"/>
                <span asp-validation-for="@Model.StartDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">End Date</label>
                <input asp-for="@Model.EndDay" min="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control"/>
                <span asp-validation-for="@Model.EndDay" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="@Model.StartDay"/>
            <input type="hidden" asp-for="@Model.EndDay"/>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarAvailable[0].CarName)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.CarAvailable[0].CarModelYear)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.CarAvailable[0].Color)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.CarAvailable[0].Capacity)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.CarAvailable[0].Description)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.CarAvailable[0].ImportDate)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.CarAvailable[0].RentPrice)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.CarAvailable[0].CarProducer)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.CarAvailable)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CarModelYear)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ImportDate)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.RentPrice)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CarProducer.ProducerName)
            </td>
            <td>
                <form asp-page="./Create" method="post" asp-page-handler="Add" asp-route-id="@item.CarID">
                    <input type="hidden" asp-for="@Model.StartDay"/>
                    <input type="hidden" asp-for="@Model.EndDay"/>
                    <input type="hidden" asp-for="@Model.CarAvailable"/>
                    <button type="submit">Rent</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}