@page
@model CarRenting.Client.Pages.Customer.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>YOUR RENTING ORDER</h1>

<p>
    <a asp-page="Create">Create renting</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RentingTransaction[0].PickupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentingTransaction[0].ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentingTransaction[0].RentPrice)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.RentingTransaction[0].Car)
            </th>  
            <th>
                @Html.DisplayNameFor(model => model.RentingTransaction[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RentingTransaction) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.PickupDate)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.RentPrice)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.CarName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            <td>
                    <form asp-page="./Index" method="post" asp-page-handler="Cancel">
                        <input type="hidden" asp-for="@Model.DeleteObjIndex" value="@Model.RentingTransaction.IndexOf(item)" />
                        <input type="hidden" asp-for="@Model.RentingTransaction" value="@Model.RentingTransaction" />
                    <button type="submit">Cancel order</button>
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
